*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */

main{
  overflow: hidden;
  min-height: 100vh;
  /* background: linear-gradient(to right top, #070c10, #100000); */

  /* brick */
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

  /* layers */
  /* background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2322001c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440038' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660053' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2388006f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AA008B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */

  display: flex;
  align-items: center;
  justify-content: center;

}

.glass{
  background: white;
  width: 80%;
  max-width: 800px;
  background: linear-gradient(to right bottom, rgba(
  255,255,255,0.15),rgba(255, 255, 255, 0.05));
  box-shadow: 0 8px 32px 0 rgba(28, 0, 0, 0.37);
  backdrop-filter: blur( 7.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 2rem;
  z-index: 3;
  padding: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.circle1
{
  background: linear-gradient(to right bottom, rgb(255, 0, 0),rgba(255, 0, 0, 0.503));
  height: 40vw;
  width: 40vw;
  position: absolute;
  bottom: 5%;
  left: 5%;
  border-radius: 50%;
}

.circle2{
  background: white;
  background: linear-gradient(to right bottom, rgb(84, 0, 162),rgba(91, 0, 91, 0.5));
  height: 40vw;
  width: 40vw;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 50%;
}

.avatar_box{
  background:linear-gradient(to left top, rgb(255, 255, 255,0.2),rgb(255, 255, 255,0.05));
  border-radius: 70%;
  /* box-shadow: inset 3px 4px 10px rgba(0, 0, 0, 0.211); */
  max-width: 10rem;
  max-height: 10rem;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  border-radius: 2rem;
}

.avatar{
  width: 25vw;
  max-width: 10rem;
}

.top_info{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  line-height: 5vw;
}

.name{
  color: white;
  font-size: 5vw;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}


.title{
  color: white;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
}


.separator{
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-top:20px;
  margin-bottom: 10px;
}

.separator_footer{
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-top:5px;
  margin-bottom: 15px;
}


.bottom_info{
  transition: 0.5s ease-in-out;
}

.contact_information{
  display: grid;
  gap: 10px;
  padding-top: 8px;
  grid-template-columns: 1fr 1fr;
}

.contact_info{
  display: grid;
  grid-template-columns: 1fr;
}


.contact_item{
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}

li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: -webkit-match-parent;
  
}

.icon_box{
  position: relative;
  background:linear-gradient(to left top, rgb(255, 255, 255,0.2),rgb(255, 255, 255,0.05));
  max-width: 5.5vw;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  border-radius: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: hsl(0, 0%, 100%);
  z-index: 1;
  --ionicon-stroke-width: 24px;
}



.icon_box::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  z-index: -1;
}

.contact-info {
  
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);

}


.contact_info a , time, h1{
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-weight: 300;
  font-style: none;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 2px;
}

.contact_info p{
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
  font-family: 'Work Sans', sans-serif;
}

.contact_title {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.social_container{
  display: flex;
  justify-content: flex-start;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.social_link{
  text-decoration: none;
  color: white;
  font-size: 3vw;
  color: hsla(0, 0%, 100%, 0.5);
  z-index: 1;
  --ionicon-stroke-width: 24px;
  padding-right: 5px;
}

.social_link:hover{
  color: hsla(0, 0%, 100%);

}

.typo{
  font-family: 'Herr Von Muellerhoff', cursive;
  color: hsla(0, 0%, 100%,0.8);
  font-size: 30px;
  margin-right: 15px;
}





@media only screen and (max-width:830px){
  .top_info{
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .title{
    font-size: 3.5vw;
    padding-bottom: 2px;
  }


  .typo{
    font-size: 2.5vw;
  }

  .sub_title{
    font-size: 3.5vw;
    line-height: 1.5;
  }

  .name{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 6vw;
    line-height: 1.1;
    margin-bottom: 5px;
   }
   .contact_information{
    display: grid;
    grid-template-columns: 1fr;

  }
}

@media only screen and (min-width:830px){
  .name{
  font-size: 40px;
  }
  .title{
  font-size: 20px;
  }
  .contact_info a , time, h1{ 
    font-size: 20px;

  }

}

@media only screen and (max-width:500px){
  .contact_info a , time, h1{
    font-size: 14px;
  }

  .title{
    font-size: 20px;
    font-weight: 100;
    line-height: 1.1;
  }

  .name{
    font-size: 25px;
  }

  .contact_info p{
    font-size: 14px;
  }

  .icon_box{
    font-size: 20px;
    max-width: none;
  }

  .avatar{
    width: 120px;
  }

  .social_link{
    font-size: 20px;
  }

  .typo{
    font-size: 20px;
  }
  .avatar_box{
    margin-top: 5px;
  }
}
